@tailwind base;
@tailwind components;
@tailwind utilities;

.newCodePopupText {
  font-size: clamp(0.5rem, 3.2vw, 1.25rem); 
}

.visiblityText {
  font-size: clamp(0.5rem, 3.2vw, 0.9rem); 
}

body {
  overscroll-behavior: none;
}

.modal-animation {
  animation: popIn 0.2s;
}

@keyframes popIn {
  0% {
    transform: scale(0.92);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
